[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
